body,html {
    background-color:#06327a ;
}
body {
    color: white;
}

p{
    font-size:1.75em;
        padding: 10px;
    float: left;
width: 45%;}

#pic{float:left; margin: 0%;}

a:hover{color: lightskyblue}

div{font-size: 2em;
color: white}  

a {color: white;}

img {width: 50%;
float:left;}

@media screen and (max-width: 800px) {
    p {width: 100%;}
    img {width: 100%;}
}
.topnav a{text-decoration: none;
    text-align: center;
    float: left;
    padding: 0.5em;
    width: 15%;
    color: #06327a;
    background-color: white;
    border: 3px #06327a solid;
    transition: 0.25s;
}

.topnav a:hover {
    color: white;
    background-color: #06327a;
}