body,html {
    background-color:#4390bc ;
}
body {
    color: black;
}

h1 {
    color: black;
}
p{
    font-size:1.75em;
        padding: 10px;
    float: left;
width: 25%}
#pic{float:right; margin: 0%;}
a:hover{color: lightskyblue}
div{font-size: 2em}