body,html {
    background-color:#4390bc ;
}
body {
    color: #113368 ;
}
#p1 { font-size:4rem; text-align: center }
#p2 { font-size:2rem; text-align: center}
#p3 { font-size:4rem}

div{
    font-size:4em;
        padding: 18px;
   }
a:hover{color: lightskyblue}
